__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.venv/

outputs/
logs*/
hf_cache/
.cache/

checkpoints/
lora_models/
tools/co-tracker/checkpoints/*.pth
third_party/CommonSource/

.DS_Store
